<h1>User#index</h1>

<% @users.each do |user| %>
  <ul>
  	<li>User id:  <%= user.id %></li>
    <li>User name:  <%= link_to user.name, user_path(user) %></li>
    <li>User email:  <%= user.email %></li>
    <li>Activity status:  <%= user.activity %></li>
  </ul>
<% end %>
