@import "bootstrap-sprockets";
@import "bootstrap";

ul,li{
  list-style: none;
  -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
}

li{
  margin-left:15px;
  margin-righ:15px;
  float:left;
}

h1{
  padding-bottom:20px
}