@import "bootstrap-sprockets";
@import "bootstrap";

ul,li{
  list-style: none;
  -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
}

li{
  margin-left:15px;
  margin-righ:15px;
  float:left;
}

h1{
  padding-bottom:20px;
}

.edit-form-row{
	padding-bottom:80px;
	padding-top:80px;
	font-size:125%;
}

.edit-form-group{
	border-radius:6px;
	border:1px solid #E8E8E8;
	padding-left:10px;
	margin-left:10px;
}